body {
    width: 100vw;
    height: 100vh;
}
.table {
    width: 50%;
    height: 100%;
    background-color: rgb(131, 131, 131);
    border-radius: 15px;
}
.country {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.country span {
    font-size: 16px;
    color: rgb(56, 41, 41);
}